
<% provide(:title, 'All Users') %>

<h1>All Users</h1>



<div class="container">

    <%= will_paginate %>

    <div class="row">

    <!-- <ul class="users"> -->
            <% @users.each do |user| %>        
              <%= render user %>
            <%end%>
    <!-- </ul> -->

    </div>

</div>

<%= will_paginate %>

<div class="form-group">
                <label class="font-noraml">Select a grade</label>
                <div class="input-group">
                <select data-placeholder="Select a grade..." class="chosen-select" style="width:350px;" tabindex="2">
                <option value="">Select</option>
                <option value="Prekindergarten">Prekindergarten</option>
                <option value="Kindergarten">Kindergarten</option>
                <option value="1st">1st</option>
                <option value="2nd">2nd</option>
                <option value="3rd">3rd</option>
                <option value="4th">4th</option>
                <option value="5th">5th</option>
                <option value="6th">6th</option>
                <option value="7th">7th</option>
                <option value="8th">8th</option>
                <option value="9th">9th</option>
                <option value="10th">10th</option>
                <option value="11th">11th</option>
                <option value="12th">12th</option>
                <option value="Higher Education">Higher Education</option>
                </select>
                </div>
                </div>
