/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.0
 *
*/

// Google Fonts
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

// Bootstra
@import "bootstrap-sprockets";
@import "bootstrap";

// Variables, Mixins



// Variables
$brand-color: #42AD9D;
$panel-heading: #CACACA;
$bold-text: #a2a09a;
$brand-border: 0.1px solid rgba(0, 0, 0, 0.09);
$brand-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);

    
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



#main
{
    padding-top: 9px;
    max-width: 1100px;
    margin: 0 auto;
}

body
{
    background-color: #e0e0e0;
    -webkit-font-smoothing: antialiased;
    font: normal 13px Roboto,arial,sans-serif;
}

.container
{
    margin: 0 auto;
    max-width: 1100px;
}

.panel-heading
{
    background-color: $panel-heading;
}

#left-panel
{
    background-color: #fff;
    border-width: 0;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    box-shadow: 0 3px 3px  rgba(0, 0, 0, 0.09);
    margin-bottom: 14px;
    border-radius: 3px;
    
}

.media-heading
{
}

.media-object
{
    width: 50px;
    height: 50px;
}

.post-img
{
    width: 50px;
    height: 50px;
}

.media-body
{
    padding-left: 10px;
    padding-top: 10px;
}

.post-well
{
    margin-top: 15px;
    padding: 5px 10px;
}

.post
{
    border-bottom: 1px solid #dee6ee;
 }


.chat-element
{
    border-bottom: 1px solid #dee6ee;
}


.post-img
{
    width: 50px;
    height: 50px;
}

.comment-img
{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-top: 0;
}

.comments
{
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.well-sm
{
    margin-right: 0px;
    margin-left: 45px;
    padding-top: 5px;
    padding-bottom: 0;
}

p
{
    word-wrap: break-word;
}

.comment
{
    border-bottom: 1px solid #dee6ee;
}

.comment-header
{
}

.comment-body
{
    padding-top: 5;
}

.comments-body
{
    margin-bottom: 10px;
    list-style-type: none;
}

.comment-structure
{
    padding-top: 10px;
}

.reply-input
{
}

.placeholder-container
{
    margin-left: 50px;
}

.add-comment
{
    padding: 5px 15px 5px 95px;
}

.reply-area
{
    border-radius: 0;
    max-width: 95%;
    max-height: 100%;
    height: auto;
}

.reply-btn
{
}



/* bootstrap 3 helpers */

.navbar-form input, .form-inline input
{
    width: auto;
}

/* end */

/* custom theme + Bootstrap resets */



header
{
    min-height: 180px;
    margin-bottom: 5px;
}

/* only apply sticky columns on wider screens */

@media (min-width: 1200px)
{
    
    #content
    {
        padding-right: 15px;
    }
    #sidebar.affix-top
    {
        position: static;
    }
    #sidebar.affix
    {
        position: fixed !important;
        top: 20px;
        width: 200px;
    }
    #midCol.affix-top
    {
        position: static;
    }
    #midCol.affix-bottom
    {
        padding-top: 0;
    }
    #midCol.affix
    {
        position: fixed !important;
        top: 20px;
        width: 292px;
    }
}

.affix
{
    position: static;
}

body
{
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    font-weight: 300;
    color: #676767;
    background-color: #efefef;
    margin-top: 70px;
}

a,a:hover
{
    color: $brand-color;
    text-decoration: none;
}

.highlight-bk
{
    background-color: $brand-color;
    padding: 1px;
    width: 100%;
}

.highlight
{
    color: $brand-color;
}

h3.highlight
{
    padding-top: 13px;
    padding-bottom: 14px;
    border-bottom: 2px solid $brand-color;
}

.navbar
{
    background-color: $brand-color;
    color: #ffffff;
    border-radius: 0;
}

.navbar-nav > li > a
{
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav > li:last-child > a
{
}

.navbar-nav li a:hover
{
    background-color: $brand-color;
}

.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus
{
    color: #000;
    opacity: .9;
}

.navbar-brand
{
    color: #fff;
}

.accordion-group
{
    border-width: 0;
}

.dropdown-menu
{
    min-width: 250px;
}

.caret
{
    color: #fff;
}

.navbar-toggle
{
    color: #fff;
    border-width: 0;
}

.navbar-toggle:hover
{
    background-color: #fff;
}

.panel,.panel-heading
{
    border-radius: 0;
    border-width: 0;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    box-shadow: 0 3px 3px  rgba(0, 0, 0, 0.09);
}

.thumbnail
{
    margin-bottom: 8px;
    border-radius: 0;
}

.well
{
    border-radius: 0;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a
{
    padding-left: 3px;
}



footer
{
    height: 50px;
    background-color: #dfdfdf;
    color: #888;
    margin-top: 20px;
}

@media (min-width: 992px)
{
    .no-gutter.row > div[class*='col-md']
    {
        padding-left: 0;
        padding-right: 0;
    }
    .no-gutter.row > .col-md-12
    {
        width: 99.99999999999999%;
        *width: 99.93055555555554%;
    }
    .no-gutter.row .col-md-11
    {
        width: 91.66666666666666%;
        *width: 91.59722222222221%;
    }
    .no-gutter.row > .col-md-10
    {
        width: 83.33333333333331%;
        *width: 83.26388888888887%;
    }
    .no-gutter.row > .col-md-9
    {
        width: 74.99999999999999%;
        *width: 74.93055555555554%;
    }
    .no-gutter.row > .col-md-8
    {
        width: 66.66666666666666%;
        *width: 66.59722222222221%;
    }
    .no-gutter.row > .col-md-7
    {
        width: 58.33333333333333%;
        *width: 58.263888888888886%;
    }
    .no-gutter.row > .col-md-6
    {
        width: 49.99999999999999%;
    }
    .no-gutter.row > .col-md-4
    {
        width: 33.33333333333333%;
    }
    .no-gutter.row > .col-md-3
    {
        width: 24.999999999999996%;
        *width: 24.930555555555554%;
    }
    .no-gutter.row > .col-md-2
    {
        width: 16.666666666666664%;
        *width: 16.59722222222222%;
    }
    .no-gutter.row > .col-md-1
    {
        width: 8.333333333333332%;
        *width: 8.263888888888888%;
    }
}

/* end custom theme */

.btn
{
    border-radius: 0;
    background-color: $brand-color;
}

.btn-info
{
}


.transparent {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

#logo-img {
    margin-top: -5px;
}

.nav-stacked > li {
  height: 3em;
}



.table {
    font-size: 12px;
   margin-bottom: 0;
}
 
.tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;
}
 
tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
border-top: none;
}
 
b {
  color: $bold-text;
}
 
#class-info {
    padding: 5px;
}

div.img {
    margin: 2px;
    padding: 2px;
    border: 1px solid $brand-color;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 2px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border:1px solid $brand-color;
}

.bar {
    height: 18px;
    background: $brand-color;
    border:1px solid $brand-color;
}

#post-form .panel-body {
  padding: 0;
}

#post-form {
    margin-bottom: 20px;
    color: #555555;
    border: $brand-border;
  border-bottom-color: transparent;
  cursor: default;
}



#form_content {
    padding: 15px 25px 15px 25px;
    border-radius: 0;
    border-width: 0;
    -webkit-box-shadow: brand-shadow;
    box-shadow: brand-shadow;
    }

#form_content .form-control {
  width: 100%;
  height: 43px;
  resize: none;
  border-radius: 0;
    font-size: 12px;
    padding-right: 50px;
        }

#event-content {
    padding: 0 18px 0px 18px;
    border-radius: 0;
    border-width: 0;
    -webkit-box-shadow: brand-shadow;
    box-shadow: brand-shadow;
}

#form_tabs .fa-lg {
padding-right: 10px;
padding-left: 10px;
}



.form-control:focus {
    border: 1px solid $brand-color;
} 

.field { 
    
    position: relative; 
}

a#attach {
    position: absolute;
    bottom: 10px;
    right: 0px;
    margin: 3px 1px;
    background-color: white;
    height: 30px;
    width: 50px;
}

input#fileupload {
  display: none;
}



.pagination ul {
    display: none;
}

#event-list {
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 10px;
    padding-right: 20px;
}

.nav > li > a {
    word-wrap: break-word;
}


.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #60c1b2;
  border-color: $brand-color;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #60c1b2;
  border-color: $brand-color;
}
    
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
   
  color: #fff;
  background-color: #60c1b2;
  border-color: $brand-color; 
}

#attach .btn {
    visibility: hidden;
    border: none;
    background-color: #fff;
    width: 25px;
    height: 25px;
}

.btn-primary {

  border-color: $brand-color;
}

#events-table td {
   max-width: 50px;
   overflow: hidden;
    word-wrap: break-word;
}

.input-group-addon {
 font-size: 12px;   
}

#chosen-div {
     width: 100% !important;
}

.chosen-container {
    width: 100% !important;   
    font-size: 12px !important;
}

.modal-dialog {
 width: 500px;   
}

.modal-header {
  padding: 15px 50px;
}

.modal-body {
  padding: 15px 50px 20px 50px;
}

#post-form li.current {
    background-color: #efefef;
    border-color: $brand-color; 
}

#post-form .nav-tabs > li {
    border-right: 1px solid #ddd; 
        
}

#post-form .nav-tabs > li > a {
    margin-right: 0;
}

#post-form .nav-tabs > li.active > a {
  border: none;
  border-bottom: 2px solid #fff; 
    
}

#post-form .nav-tabs {
  background-color: #f8f8f8;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  }


/* MY GROUPS */

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/* END MY GROUPS */

/* Style active group tab */

li.current {
    background-color: #efefef;
    border-color: $brand-color; 

}

.nav-stacked li:active {
    background-color: $brand-color;
}